---
import Layout from "../layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Projects from "@/components/sections/Projects.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Skills from "@/components/sections/Skills.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeButton from "@/components/ThemeButton.astro";
import { basics } from "@cv";


---

<Layout
	title={`Portafolio de ${basics.name} - Software Developer (Frontend - Backend)`}
	description="Portafolio Web de justin castro perez (joshtin.dev). Software Developer (Frontend - Backend)"
	autor="Joshtin.Dev"
	keywords="portafolio, portfolio, jostinc, joshtin, joshtin2505, justin castro perez portafolio justin castro, Software Developer (Frontend - Backend)"
>
	<main>
		<!-- <ToggleSwitch /> -->
		<ThemeButton />
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>

	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
		position: relative;
	}

	html {
		scrollbar-width: thin;
		scrollbar-color: #ccc #eee;
		scrollbar-arrow-color: transparent;
	}
	html.dark {
		scrollbar-color: #ccc #aeaeae;
	}
</style>
